* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--body-bg);
}

:root {
  --body-bg: antiquewhite;
  --primary-color: white;
  --border-color: #2bb1d6;
  --tertiary-color: #191970;
  --pink-bg: #cf00a3;
  --heading-color: #8b4513;
  --icons-color: #d6a52b;
  --footer-text: #4a4a4a;
  --card-text: #333;
  --card-bg: #fdf4dc;
  --card-bg-hover: #f5f1b7;
  --icon-hover: rgb(255, 77, 0);
  --back-button-color: #333;
}

html .dark {
  --body-bg: black;
  --primary-color: rgb(41, 40, 40);
  --tertiary-color: #37fcff;
  --border-color: black;
  --pink-bg: #ff00ff;
  --heading-color: #ffff00;
  --icons-color: #d6ae2b;
  --feature-border-color: #ffff00; 
  --footer-text: white;
  --card-text: aqua;
  --card-bg: #044464;
  --card-bg-hover: #1f3439;
  --icon-hover: #2bd675;
  --back-button-color: #d6a52b;
}

#cursor{
  height: 20px;
  width:20px;
  background-color: rgba(234, 169, 84, 0.845);
  border-radius: 50%;
  position: fixed;
  font-size: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.navbar .logo h2{
  margin-left: 150%;
}

#google_translate_element {
  position: fixed;
  top: 90px;
  left: 20px;
  z-index: 1000;
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  color: #ffd465;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mySlides {
  display: none;
  position: relative;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.text {
  color: #fff;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.banner-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffd465;
  color: #ffd465;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.options-section {
  text-align: center;
  padding: 40px 20px;
}

.options-section h2 {
  color: #4a4a4a;
  font-size: 28px;
  margin-bottom: 10px;
}

.options-section p {
  color: #6f6f6f;
  font-size: 18px;
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.option {
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  width: 150px;
  transition: transform 0.3s ease;
}

.option img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.option p {
  font-size: 16px;
  color: #333;
}
.options-container:hover {
  color: #ffd465;
}
.option:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.option a {
  text-decoration: none;
}

.orange {
  color: #d6a52b;
}

section h2 {
  color: #000;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 0;
}

/* Styles for floating chat button */
.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d6a52b;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.chat-button:hover {
  transform: scale(1.1);
  background-color: #000;
}

/* Styles for floating image button */
.image-button {
  position: fixed;
  bottom: 20px;
  left: 20px; /* Aligns the button to the left side */
  background-color: transparent; /* Transparent background */
  border: none;
  border-radius: 50%;
  padding: 0; /* No padding for image button */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  z-index: 9999;
}

.image-button:hover {
  transform: scale(1.1);
}
.about-box {
  width: 80%;
  background-color: var(--primary-color);
  border: 2px solid #d6a52b;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto; /* Auto margin centers the box horizontally */
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block; /* Ensures it behaves like a block-level element */
  text-align: left; /* Adjusts text alignment, optional */
}

.image-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

.back-button {
  position: absolute;
  top: 100px;
  left: 20px;
  background-color: transparent;
  border: none;
  color: var(--back-button-color);
  font-size: 24px;
  cursor: pointer;
  z-index: 999;
  transition: color 0.3s ease;
}

.back-button:hover {
  color: #d6a52b;
}
.about-section h1 {
  text-align: center;
  color: var(--heading-color);
}
.about-section h2 {
  color: var(--heading-color);
}
.about-section li {
  color: #191970;
}
h1 {
  font-size: 2.5em;
} 
.about-section p {
  margin: 10px 0;
  text-align: center;
  color: var(--tertiary-color);
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.feature-card {
  background: var(--card-bg);
  border: 2px solid #ffd465;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.05) !important;
  cursor: pointer;
  background-color: var(--card-bg-hover);
  transition: transform 0.3s ease;
}

.feature-card i {
  font-size: 40px;
  color: var(--icons-color);
  margin-bottom: 10px;
}

.feature-card:hover i {
  color: var(--icon-hover);
  transform: scale(1.4) rotate(20deg);
  transition: transform 0.3s ease, color 0.3s ease; 
}

.feature-card h3 {
  color: var(--heading-color);
  margin-bottom: 10px;
}
.image-button1 {
  position: fixed;
  left: 0px; /* Aligns the button to the left side */
  background-color: transparent; /* Transparent background */
  border: none;
  padding: 0; /* No padding for image button */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image-button1:hover {
  transform: scale(1.1);
}

.image-icon1 {
  width: 68px;
  height: 68px;
  z-index: 2;
  position: relative;
}


footer {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--footer-text);
  text-align: center;
}
.social-icons div a:hover {
  scale: 1.3;
  rotate: 15deg;
}
.social-icons div a i.fa-facebook-f:hover {
  color: rgb(51, 51, 199);
}
.social-icons div a i.fa-twitter:hover {
  color: rgb(51, 98, 199);
}
.social-icons div a i.fa-linkedin-in:hover {
  color: rgb(51, 132, 199);
}
.social-icons div a i.fa-instagram:hover {
  color: rgb(199, 51, 167);
}
.subscribe-section form input[type="email"] {
  border-radius: 4px;
  height: 4vh;
  border: none;
  padding: 10px;
}
.subscribe-button {
  padding: 10px 62px;
  border: none;
  border-radius: 5px;
  background-color: #d6a52b;
  color: #222;
  font-weight: 600;
  cursor: pointer;
}
.social-icons a:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;
}

.social-icons a:first-child:hover {
  transform: scale(1.3) rotate(27deg);
  transition: all 0.3s ease;
  color: #1a4bb4 !important;
}

.social-icons a:first-child:hover {
  transform: scale(1.3) rotate(27deg);
  transition: all 0.3s ease;
  color: #1a4bb4 !important;
}

.social-icons a:nth-child(2):hover {
  transform: scale(1.3) rotate(27deg);
  transition: all 0.3s ease;
  color: #29d6d6 !important;
}

.social-icons a:nth-child(3):hover {
  transform: scale(1.3) rotate(27deg);
  transition: all 0.3s ease;
  color: #3b6cd6 !important;
}

.social-icons a:nth-child(4):hover {
  transform: scale(1.3) rotate(27deg);
  transition: all 0.3s ease;
  color: #c43bd6 !important;
}

footer h3{
  color: #d6a52b;
}

footer li:hover {
  transform: scale(1.1);
}

@media(max-width:768px) {
  .image-icon1{
    width: 50px;
    height: 50px;
    top: 10px;
  }

  .navbar .logo h2 {
    font-size: 1.7em;
    margin-left: 117%;
}

.image-icon{
  width: 78px;
  height: 78px;
}
}

@media(max-width:425px) {
  .about-box h1{
    font-size: 2rem;
  }

  .back-button {
    left: 8px;
  }
}

.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #d6a52b;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.scroll-btn:hover {
  background-color: #ffd700;
  transform: scale(1.1);
}
.scroll-btn.show {
  opacity: 1;
  visibility: visible;
}

/* payments */
.payments i:hover{
  color:#d7b96b;
  }

  #cursor{
    height: 20px;
    width:20px;
    background-color: rgba(234, 169, 84, 0.845);
    border-radius: 50%;
    position: fixed;
    font-size: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}