* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: antiquewhite;
    color: #333;
}
  
.navbar .logo h2{
  margin-top: 10px;
}  
/* Sections */
.section {
    padding: 60px 20px;
    max-width: 80%;
    margin: auto;
}

.home-section {
    background-color: #ffffff;
    text-align: center;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    background: transparent;
    border: none;
    padding: 0;
}

.hamburger span {
    height: 3px;
    width: 100%;
    background: #fff;
    display: block;
    border-radius: 10px;
    margin: 8px 0;
    width: 45px;
    height: 6px;
}

/* Headings */
h1, h2 {
    margin-bottom: 20px;
    color: rgb(202, 98, 12);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

/* Paragraph */
p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(45, 43, 42);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-section h3{
font-size: 1rem;
margin-bottom: 0.5rem;
}




