body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
}

:root{
    --heading-color: rgb(248, 204, 6);
    --name-color: #111827;
    --role-color: #4B5563;
    --quote-color: black;
    --Tcard-bg: #fff;
    --gradient-bg: linear-gradient(90deg, #44ff9a, #44b0ff, #8b44ff, #ff6644, #ebff70);
}
.dark{
    --heading-color: #8b4513;
    --name-color: aqua;
    --role-color: yellow;
    --quote-color: white;
    --Tcard-bg: #010035;
    --gradient-bg: linear-gradient(90deg, white, #fafafa, rgb(255, 255, 148), aqua, pink);
}

.image-icon1 {
    width: 68px;
    height: 68px;
    z-index: 2;
    position: relative;
  }

/* Styles for floating image button */
.image-button {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Aligns the button to the left side */
    background-color: transparent; /* Transparent background */
    border: none;
    padding: 0; /* No padding for image button */
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .image-button:hover {
    transform: scale(1.1);
  }

  .image-icon {
    width: 110px;
    height: 110px;
    z-index: 2;
    border-radius: 50%;
    position: relative;
  }
  .image-button1 {
    background-color: transparent; /* Transparent background */
    border: none;
    padding: 0; /* No padding for image button */
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .image-button1:hover {
    transform: scale(1.1);
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75); /* Black color with 50% transparency */
    backdrop-filter: blur(15px);
    text-align: center;
    padding: 10px 20px;
    position: sticky;
    height: 80px;
    top: 0;
    z-index: 1;
  }
  .navbar .logo {
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .navbar .logo h2 {
    margin-top: 10px;
  }

  .navbar li span {
    display: none;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
  }
  .navbar li {
    display: flex;
  }
  .nav-links li a i {
    color: #000;
  }
  .navbar li:hover span {
    opacity: 1;
    display: inline;
  }
  .theme-switch {
    --toggle-size: 15px;
    /* the size is adjusted using font-size,
 this is not transform scale,
 so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3d7eae;
    --container-night-bg: #1d1f2c;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ecca2f;
    --moon-bg: #c4c9d1;
    --spot-color: #959db1;
    --circle-container-offset: calc(
      (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
    );
    --stars-color: #fff;
    --clouds-color: #f3fdff;
    --back-clouds-color: #aacadf;
    --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }

  .theme-switch,
  .theme-switch *,
  .theme-switch *::before,
  .theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
  }

  .theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
      0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
      0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }

  .theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
      0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
      0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius);
  }

  .theme-switch__checkbox {
    display: none;
  }

  .theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      0 0 0 0.625em rgba(255, 255, 255, 0.1),
      0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      0 0 0 0.625em rgba(255, 255, 255, 0.1),
      0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
  }

  .theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em
        rgba(254, 255, 239, 0.61) inset,
      0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
      0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
      drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
      drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }

  .theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em
        rgba(254, 255, 239, 0.61) inset,
      0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
      0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }

  .theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }

  .theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }

  .theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }

  .theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color),
      -0.312em -0.312em var(--back-clouds-color),
      1.437em 0.375em var(--clouds-color),
      0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color),
      1.25em -0.062em var(--back-clouds-color),
      2.937em 0.312em var(--clouds-color),
      2em -0.312em var(--back-clouds-color),
      3.625em -0.062em var(--clouds-color),
      2.625em 0em var(--back-clouds-color),
      4.5em -0.312em var(--clouds-color),
      3.375em -0.437em var(--back-clouds-color),
      4.625em -1.75em 0 0.437em var(--clouds-color),
      4em -0.625em var(--back-clouds-color),
      4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color),
      -0.312em -0.312em var(--back-clouds-color),
      1.437em 0.375em var(--clouds-color),
      0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color),
      1.25em -0.062em var(--back-clouds-color),
      2.937em 0.312em var(--clouds-color),
      2em -0.312em var(--back-clouds-color),
      3.625em -0.062em var(--clouds-color),
      2.625em 0em var(--back-clouds-color),
      4.5em -0.312em var(--clouds-color),
      3.375em -0.437em var(--back-clouds-color),
      4.625em -1.75em 0 0.437em var(--clouds-color),
      4em -0.625em var(--back-clouds-color),
      4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }

  .theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }

  /* actions */

  .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__circle-container {
    left: calc(
      100% - var(--circle-container-offset) -
        var(--circle-container-diameter)
    );
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__circle-container:hover {
    left: calc(
      100% - var(--circle-container-offset) -
        var(--circle-container-diameter) - 0.187em
    );
  }

  .theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__clouds {
    bottom: -4.062em;
  }

  .theme-switch__checkbox:checked
    + .theme-switch__container
    .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.testimonial-section {
    padding: 3rem 1rem;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
}

.sub-heading {
    font-size: 1.125rem;
    color: #78797b;
    font-weight: 500;
}

.main-heading {
    font-size: 2rem;
    color: var(--heading-color);
    font-weight: 700;
    margin-top: 1rem;
}

.cta-container {
    margin-top: 2rem;
}
#cursor{
  height: 20px;
  width:20px;
  background-color: rgba(234, 169, 84, 0.845);
  border-radius: 50%;
  position: fixed;
  font-size: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
/* Styles for floating chat button */
.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--heading-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.chat-button:hover {
  transform: scale(1.1);
  background-color: #000;
}
/* CSS for Scroll to Top Button */
#scrollBtn {
  position: fixed;

  bottom: 93px; /* Place closer to the bottom */


  right: 30px; /* Place closer to the right */
  background-color: rgb(229, 229, 61);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure visibility above other elements */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#scrollBtn:hover {
  background-color: #000; /* Change color on hover */
  transform: scale(1.2); /* Slightly enlarge */
}

.cta-link {
    font-size: 1rem;
    font-weight: 700;
    color: #838891;
    border-bottom: 2px solid #111827;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.cta-link:hover {
    color: #4B5563;
    border-color: #4B5563;
}

.relative-container {
    position: relative;
    margin-top: 3rem;
}

.background-gradient {
    position: absolute;
    inset: -1rem;
    z-index: -1;
    filter: blur(16px);
    background: var(--gradient-bg)  no-repeat;
    opacity: 0.3;
    border-radius: 16px;
}

.grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Pulse effect */
.pulse-effect {
  animation: pulse-animation 1.5s infinite ease-in-out;
}

@keyframes pulse-animation {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.05);
      opacity: 0.8;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.testimonial-card {
    background-color: var(--Tcard-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}

.card-content .rating .star {
    width: 1.25rem;
    height: 1.25rem;
    color: #FDB241;
}

.quote {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--quote-color);
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 1rem;

}

.avatar {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
}

.profile-details {
    margin-left: 1rem;
    line-height: 0.5
}

.name {
    font-size: 1rem;
    font-weight: 700;
    color: var(--name-color);
}

.role {
    font-size: 0.875rem;
    color: var(--role-color);
}

/* CSS for Scroll to Top Button */
#scrollBtn {
  position: fixed;

  bottom: 93px; /* Place closer to the bottom */

  bottom: 88px; /* Place closer to the bottom */

  right: 30px; /* Place closer to the right */
  display: none; /* Initially hidden */
  background-color: #d6a52b;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure visibility above other elements */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#scrollBtn:hover {
  background-color: #000; /* Change color on hover */
  transform: scale(1.2); /* Slightly enlarge */
}

.back-button {
  position: absolute;
  top: 100px;
  left: 20px;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  z-index: 999;
  transition: color 0.3s ease;
}

.back-button:hover {
    color: #d6a52b;
}
body.dark .back-button{
  color: white;
}

body.dark .back-button:hover{
  color: #d6a52b;
}
